<template>
  <div class="add-smoothie container">
    <!-- <h2 slot="page-title" class="center-align indigo-text">Add New smoothie Recipe</h2> -->
    <SmoothieForm :submitFunction="this.submitFunction">
      <template v-slot:smoothieProps>
        Add New Smoothie Recipe
      </template>
    </SmoothieForm>
  </div>
</template>

<script>
import SmoothieForm from "../components/forms/SmoothieForm";

export default {
  name: "AddSmoothie",
  components: { SmoothieForm },
  data() {
    return {
      submitFunction: "AddSmoothie"
    };
  }
};
</script>

<style>
.add-smoothie {
  margin-top: 60px;
  padding: 20px;
  max-width: 500px;
}
.add-smoothie h2 {
  font-size: 2em;
  margin: 20px auto;
}
.add-smoothie .field {
  margin: 20px auto;
  position: relative;
}
.add-smoothie .delete {
  position: absolute;
  right: 0;
  bottom: 16px;
  color: #aaa;
  font-size: 1.4em;
  cursor: pointer;
}
</style>