<template>
  <div class="edit-smoothie container">
    <SmoothieForm :submitFunction="this.submitFunction">
      <template v-slot:smoothieProps="smoothieProps">
        Edit Smoothie {{smoothieProps.title}}
      </template>
    </SmoothieForm>
  </div>
</template>

<script>
import SmoothieForm from "../components/forms/SmoothieForm";
export default {
  name: "EditSmoothie",
  components: { SmoothieForm },
  data() {
    return {
      submitFunction: "EditSmoothie"
      // smoothie: null
    };
  }
};
</script>
<style>
.edit-smoothie {
  margin-top: 60px;
  padding: 20px;
  max-width: 500px;
}
.edit-smoothie h2 {
  font-size: 2em;
  margin: 20px auto;
}
.edit-smoothie .field {
  margin: 20px auto;
  position: relative;
}
.edit-smoothie .delete {
  position: absolute;
  right: 0;
  bottom: 16px;
  color: #aaa;
  font-size: 1.4em;
  cursor: pointer;
}
</style>