<template>
  <div class="index container">
      <div class="card" v-for="(smoothie, number) in smoothies" :key="smoothie.id">
        <div class="card-content">
          <i class="material-icons delete" @click="deleteSmoothie(smoothie.id)">delete</i>
          <h2 class="indigo-text">{{number+1}}) {{smoothie.title}}</h2>
          <p class="indigo-text">{{smoothie.details}}</p>
          <ul class="ingredients">
            <li v-for="(ingredient, index) in smoothie.ingredients" :key="index">
              <span class="chip">{{ ingredient }}</span>
            </li>
          </ul>
        </div>
        <span class="btn-floating btn-large half-fab pink">
          <router-link :to="{name: 'EditSmoothie', params:{smoothie_slug: smoothie.slug }}">
            <i class="material-icons edit">edit</i>
          </router-link>
        </span>
      </div>
  </div>
</template>

<script>
import db from '../../firebase/init'


export default {
  name: 'Index',
  data(){
    return {
      smoothies:[],
      smoothies_collection: 'smoothies',
      deleted_id: null
    }
  },
  methods: {
    deleteSmoothie(id){
      //delte data from firestore
      this.deleted_id = id
      db.collection(this.smoothies_collection).doc(id).delete()
      .then(() => {        
        this.smoothies = []
        this.fetch_data()
        this.delete_confirm()
      })
    }, 
    //end delte function
    delete_confirm(){
      const found = this.smoothies.some(elm => elm.id === this.deleted_id)
      if(!found){ alert('Data Deleted Successfully..!!!')}
      else{ alert('Oppss..!!! Data Not Deleted Successfully...!!!')}
    },
    fetch_data(){
        db.collection(this.smoothies_collection).get()
        .then(snapshot => {
          snapshot.forEach(doc => {
            let smoothie = doc.data();
            smoothie.id = doc.id;
            this.smoothies.push(smoothie)
          })
        })
    } 
    // fetch data function end
  },
  created(){
    this.fetch_data() // get data from firestore
    
  },
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 60px;
}
.index h2 {
  font-size: 1.8em;
  text-align: center;
  margin-top: 0;
}
.index .ingredients {
  margin: 30px auto;
  /* padding: 10px; */
}
.index .ingredients li {
  display: inline-block;
}
.delete {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
  color: #aaa;
  font-size: 1.4em;
}
</style>
