<template>
    <div class="container test-page">
        <form-helper>
            <h2 slot="title">Hello Slot..</h2>
        </form-helper>    
    </div>
</template>

<script>
import FormHelper from './forms/FormHelper'
export default {
    name: 'SlotPage',
    components: {
        'form-helper': FormHelper 
    },
    data() {
        return {
          
        }
        
    },
    methods: {
        
    }

}
</script>
<style scoped>
.test-page{
    padding: 20px;
}
</style>