<template>
  <div class="container">
    <!-- <slot name="title"></slot> -->
    <p v-if="showMsg">{{msg}}</p>
    <FormChildHelper :btnClickHandler="this.toggleMsg"></FormChildHelper>
  </div>
</template>
<script>
import FormChildHelper from "./FormChildHelper";
export default {
  name: "FormHelper",
  components: {
    FormChildHelper
  },
  data() {
    return {
      msg: "Hello World",
      showMsg: false
    };
  },
  methods: {
    toggleMsg() {
        console.log("Fired..>!!");
      this.showMsg = !this.showMsg;
    }
  }
};
</script>