<template>
  <button @click="btnClickHandler">Tap me to display msg of parent Component</button>
</template>

<script>
export default {
  name: "btnClickHandler",
  props: {
    btnClickHandler: {
      type: Function
    }
  }
};
</script>