<template>
  <div>
    <!-- <slot name="page-title"></slot> -->
    <!-- scoped slot -->
    <h2 class="center-align indigo-text">
      <slot name="smoothieProps" v-bind="smoothie"></slot>
    </h2>

    <form @submit.prevent="formSubmission">
      <div class="field title">
        <label for="title">Smoothie title</label>
        <input type="text" name="title" v-model="smoothie.title" />
      </div>

      <div class="field title">
        <label for="details">Details</label>
        <input type="text" name="details" v-model="smoothie.details" />
      </div>

      <div class="field" v-for="(ing, index) in smoothie.ingredients" :key="index">
        <label for="ingredient">{{index+1}}. ingredient</label>
        <input type="text" name="ingredient" v-model="smoothie.ingredients[index]" />
        <i class="material-icons delete" @click="deleteIng(ing)">delete</i>
      </div>
      <div class="field add-ingredient" v-if="createField">
        <label for="add-ingredient">Add an ingredient</label>
        <input
          type="text"
          name="add-ingredient"
          @keydown.tab.prevent="AddMoreIngredient"
          v-model="another"
        />
      </div>
      <div class="field center-align">
        <p v-if="feedback" class="red-text">{{feedback}}</p>
        <button class="btn pink">Submit</button>
      </div>
    </form>
  </div>
</template>
<script>
import db from "../../../firebase/init";
import slugify from "slugify";
export default {
  name: "SmoothieForm",
  props: ["submitFunction"],
  data() {
    return {
      smoothie: {
        title: null,
        details: null,
        ingredients: [],
        slug: null
      },
      createField: true,
      feedback: null,
      another: null
    };
  },
  methods: {
    formSubmission() {
      switch (this.submitFunction) {
        case "AddSmoothie":
          this.AddSmoothie();
          break;
        case "EditSmoothie":
          this.EditSmoothie();
          break;
      }
    },
    AddSmoothie() {
      // console.log("fire..add..")
      if (this.another) {
        this.createField = false;
        this.smoothie.ingredients.push(this.another);
      }

      if (this.smoothie.title && this.smoothie.ingredients.length > 0) {
        this.feedback = null;
        //create slug
        this.smoothie.slug = this.generateSmoothieSlug();

        db.collection("smoothies")
          .add(this.smoothie)
          .then(() => {
            this.$router.push({ name: "Index" });
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        this.feedback = "You must enter a title or minimum one ingredient.";
      }
    },
    AddMoreIngredient() {
      if (this.another) {
        if (this.smoothie.ingredients.includes(this.another)) {
          this.feedback = `${this.another} is exist in ingredient list`;
        } else {
          this.smoothie.ingredients.push(this.another);
          this.another = null;
          this.feedback = null;
        }
      } else {
        this.feedback = "You must enter a value to add an ingredient";
      }
    },
    deleteIng(ing) {
      this.smoothie.ingredients = this.smoothie.ingredients.filter(
        ingredient => {
          return ingredient != ing;
        }
      );
    },
    EditSmoothie() {
      if (this.smoothie.ingredients.length < 1) {
        this.AddMoreIngredient();
      }
      if (this.smoothie.title && this.smoothie.ingredients.length > 0) {
        this.feedback = null;
        //create slug
        this.smoothie.slug = slugify(this.smoothie.title, {
          replacement: "-",
          remove: /[$*_+~.()'"!\-:@]/g,
          lower: true
        });

        db.collection("smoothies")
          .doc(this.smoothie.id)
          .update({
            title: this.smoothie.title,
            ingredients: this.smoothie.ingredients,
            slug: this.smoothie.slug
          })
          .then(() => {
            this.$router.push({ name: "Index" });
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        this.feedback = "You must enter a title or minimum one ingredient.";
      }
    },
    FindSmoothie() {
      let smoothie_ref = db
        .collection("smoothies")
        .where("slug", "==", this.$route.params.smoothie_slug);
      smoothie_ref.get().then(snapshot => {
        snapshot.forEach(doc => {
          this.smoothie = doc.data();
          this.smoothie.id = doc.id;
        });
      });
    },
    generateSmoothieSlug() {
      return (
        slugify(this.smoothie.title, {
          replacement: "-",
          remove: /[$*_+~.()'"!\-:@]/g,
          lower: true
        }) + new Date().valueOf()
      );
    }
  },
  created() {
    if (this.submitFunction === "EditSmoothie") {
      this.FindSmoothie();
    }
  }
};
</script>